.metadata/.lock
.metadata/.mylyn/repositories.xml.zip
.metadata/.plugins/org.eclipse.core.resources/.history/1b/50ec37e0fa6900151154e0c3ac028b1a
.metadata/.plugins/org.eclipse.core.resources/.projects/FarmaciaYa/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/FarmaciaYa/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/FarmaciaYa/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/FarmaciaYa/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/FarmaciaYa/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/Servers/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/Servers/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/Servers/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/Servers/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/.snap
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.j2ee.webservice.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.jsp.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.server.tomcat.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.jsdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.server.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.ws.service.policy.prefs
.metadata/.plugins/org.eclipse.jdt.core/1395591063.index
.metadata/.plugins/org.eclipse.jdt.core/1475044334.index
.metadata/.plugins/org.eclipse.jdt.core/1533626337.index
.metadata/.plugins/org.eclipse.jdt.core/1765155628.index
.metadata/.plugins/org.eclipse.jdt.core/1948263575.index
.metadata/.plugins/org.eclipse.jdt.core/201135874.index
.metadata/.plugins/org.eclipse.jdt.core/2084791508.index
.metadata/.plugins/org.eclipse.jdt.core/221466960.index
.metadata/.plugins/org.eclipse.jdt.core/2241220160.index
.metadata/.plugins/org.eclipse.jdt.core/2252789992.index
.metadata/.plugins/org.eclipse.jdt.core/2906694839.index
.metadata/.plugins/org.eclipse.jdt.core/3619822837.index
.metadata/.plugins/org.eclipse.jdt.core/3994220255.index
.metadata/.plugins/org.eclipse.jdt.core/591694020.index
.metadata/.plugins/org.eclipse.jdt.core/648820999.index
.metadata/.plugins/org.eclipse.jdt.core/852549314.index
.metadata/.plugins/org.eclipse.jdt.core/859509201.index
.metadata/.plugins/org.eclipse.jdt.core/909160217.index
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/participantsIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.jst.j2ee.web/webLibrariesCache.index
.metadata/.plugins/org.eclipse.jst.jsp.core/jspsearch/2200546775.index
.metadata/.plugins/org.eclipse.team.cvs.core/.running
.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/155237187.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/1736251584.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/2234618348.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/2252789992.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/3543106404.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/savedIndexNames.txt
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/baseBrowserLibrary.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/browserWindow.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/dom5.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/system.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/xhr.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.wst.server.core/servers.xml
.metadata/.plugins/org.eclipse.wst.validation/dep.index
.metadata/.plugins/org.eclipse.wst.xml.core/default_catalog.xml
.metadata/.plugins/org.eclipse.wst.xml.core/system_catalog.xml
.metadata/version.ini
Servers/.project
Servers/.settings/org.eclipse.wst.server.core.prefs
Servers/Tomcat v7.0 Server at localhost-config/catalina.policy
Servers/Tomcat v7.0 Server at localhost-config/catalina.properties
Servers/Tomcat v7.0 Server at localhost-config/context.xml
Servers/Tomcat v7.0 Server at localhost-config/server.xml
Servers/Tomcat v7.0 Server at localhost-config/tomcat-users.xml
Servers/Tomcat v7.0 Server at localhost-config/web.xml
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.resources/.projects/FarmaciaYa/.indexes/6e/26/f9/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/FarmaciaYa/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/FarmaciaYa/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/FarmaciaYa/org.eclipse.wst.jsdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.root/38.tree
.metadata/.plugins/org.eclipse.debug.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jst.jsp.core/jspsearch/201385896.index
.metadata/.plugins/org.eclipse.jst.jsp.core/translators/1969424575.translator
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/FarmaciaYa/recuperar.jsp
.metadata/.plugins/org.eclipse.core.resources/.history/20/f09818247c7700151c5bf9b3f6533443
.metadata/.plugins/org.eclipse.core.resources/.history/38/705b3e357b7700151c5bf9b3f6533443
.metadata/.plugins/org.eclipse.core.resources/.history/8c/a0e9c9fc787700151c5bf9b3f6533443
.metadata/.plugins/org.eclipse.core.resources/.history/ba/1078bad87b7700151c5bf9b3f6533443
.metadata/.plugins/org.eclipse.core.resources/.history/c3/e0512cf07a7700151c5bf9b3f6533443
.metadata/.plugins/org.eclipse.core.resources/.history/c7/20cc8d427b7700151c5bf9b3f6533443
.metadata/.plugins/org.eclipse.core.resources/.history/d0/b02535f5787700151c5bf9b3f6533443
.metadata/.plugins/org.eclipse.core.resources/.history/d9/507082557c7700151c5bf9b3f6533443
.metadata/.plugins/org.eclipse.core.resources/.history/e6/b03b98477b7700151c5bf9b3f6533443
.metadata/.plugins/org.eclipse.core.resources/.history/f6/e0b3bd5a7c7700151c5bf9b3f6533443
.metadata/.plugins/org.eclipse.core.resources/.projects/FarmaciaYa/.indexes/5b/a8/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/FarmaciaYa/.indexes/5b/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/FarmaciaYa/.indexes/e4/81/49/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/FarmaciaYa/.indexes/e4/f9/history.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/2207238843.index
.metadata/.plugins/org.eclipse.wst.jsdt.web.core/jssearch/2200546775.index
.metadata/.plugins/org.eclipse.wst.server.core/publish/publish0.dat
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/logs/localhost_access_log.2015-10-20.txt
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/work/Catalina/localhost/FarmaciaYa/org/apache/jsp/busqueda_jsp.class
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/work/Catalina/localhost/FarmaciaYa/org/apache/jsp/busqueda_jsp.java
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/work/Catalina/localhost/FarmaciaYa/org/apache/jsp/inicio_jsp.class
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/work/Catalina/localhost/FarmaciaYa/org/apache/jsp/inicio_jsp.java
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/work/Catalina/localhost/FarmaciaYa/org/apache/jsp/recuperar_jsp.class
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/work/Catalina/localhost/FarmaciaYa/org/apache/jsp/recuperar_jsp.java
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/FarmaciaYa/Includes/footer.jsp
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/FarmaciaYa/Includes/header.jsp
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/FarmaciaYa/Includes/headerNoLogin.jsp
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/FarmaciaYa/WEB-INF/classes/META-INF/parameters.xml
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/FarmaciaYa/WEB-INF/classes/com/is3/Encrypt.class
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/FarmaciaYa/WEB-INF/classes/com/is3/EnvioCorreo.class
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/FarmaciaYa/WEB-INF/classes/com/is3/Parameters.class
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/FarmaciaYa/WEB-INF/classes/com/is3/PositionServlet.class
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/FarmaciaYa/WEB-INF/classes/com/is3/RecoverPasswordServlet.class
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/FarmaciaYa/WEB-INF/classes/com/is3/bo/Direccion.class
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/FarmaciaYa/WEB-INF/classes/com/is3/bo/Orden.class
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/FarmaciaYa/WEB-INF/classes/com/is3/bo/Producto.class
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/FarmaciaYa/WEB-INF/classes/com/is3/bo/Usuario.class
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/FarmaciaYa/WEB-INF/classes/com/is3/dto/Posicion.class
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/FarmaciaYa/WEB-INF/classes/com/is3/utiles/CargaDeDatos.class
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/FarmaciaYa/WEB-INF/web.xml
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/FarmaciaYa/busqueda.jsp
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/FarmaciaYa/cambiocontrasena.jsp
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/FarmaciaYa/inicio.jsp
.metadata/
