<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>FarmaciaYa</display-name>
  <welcome-file-list>
	<welcome-file>inicio.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>Hello</servlet-name>
    <servlet-class>com.is3.UsuarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hello</servlet-name>
    <url-pattern>/UsuarioServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Hello2</servlet-name>
    <servlet-class>com.is3.RecoverPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hello2</servlet-name>
    <url-pattern>/RecoverPasswordServlet</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>Hello3</servlet-name>
    <servlet-class>com.is3.ConfirmarMail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hello3</servlet-name>
    <url-pattern>/ConfirmarMail</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Hello4</servlet-name>
    <servlet-class>com.is3.BuscarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hello4</servlet-name>
    <url-pattern>/BuscarServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Hello5</servlet-name>
    <servlet-class>com.is3.FarmaciaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hello5</servlet-name>
    <url-pattern>/FarmaciaServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Hello6</servlet-name>
    <servlet-class>com.is3.AgregarAlCarritoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hello6</servlet-name>
    <url-pattern>/AgregarAlCarritoServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Hello7</servlet-name>
    <servlet-class>com.is3.RealizarPedidoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hello7</servlet-name>
    <url-pattern>/RealizarPedidoServlet</url-pattern>
  </servlet-mapping>
</web-app>